@model mikroservisnaApp.Models.Dogadjaj

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dogadjaj</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumIVreme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumIVreme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trajanje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trajanje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CenaKotizacije)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CenaKotizacije)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lokacija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lokacija.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipDogadjaja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipDogadjaja.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
