@model IEnumerable<mikroservisnaApp.Models.Angazovanje>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NazivPredavanja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vreme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Predavac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dogadjaj)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NazivPredavanja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vreme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Predavac.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dogadjaj.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
